name: CI/CD Pipeline

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

env:
  PYTHON_VERSION: "3.12"
  DOCKER_IMAGE: vtrdll/django-api

jobs:

  lint:
    name: Lint
    runs-on: ubuntu-latest
    env:
      DJANGO_SECRET_KEY: test-secret

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install Poetry
        run: pip install poetry

      - name: Install dependencies
        run: poetry install --no-interaction

      - name: Run Lint
        run: poetry run flake8 .

  test:
    name: Testes Django
    runs-on: ubuntu-latest
    needs: lint

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_DB: test_db
          POSTGRES_USER: test_user
          POSTGRES_PASSWORD: test_pass
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - run: pip install poetry
      - run: poetry config virtualenvs.create false
      - run: poetry install --no-interaction

      - name: Run migrations
        env:
          DJANGO_SECRET_KEY: test-secret
          DB_NAME: test_db
          DB_USER: test_user
          DB_PASSWORD: test_pass
          DB_HOST: localhost
          DB_PORT: 5432
        run: python app/manage.py migrate

      - name: Run tests
        env:
          DJANGO_SECRET_KEY: test-secret
          DB_NAME: test_db
          DB_USER: test_user
          DB_PASSWORD: test_pass
          DB_HOST: localhost
          DB_PORT: 5432
        run: python app/manage.py test

  docker:
    name: Build & Push Docker
    runs-on: ubuntu-latest
    needs: test

    steps:
      - uses: actions/checkout@v4

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        run: |
          TAG=${{ github.ref_name }}
          docker build -t ${{ env.DOCKER_IMAGE }}:$TAG ./app
          docker push ${{ env.DOCKER_IMAGE }}:$TAG

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: docker

    steps:
      - name: Deploy Simulado
        run: |
          if [[ "${GITHUB_REF_NAME}" == "main" ]]; then
            echo "Deploy para PRODUÇÃO"
          else
            echo "Deploy para STAGING"
          fi
